  <footer>
    <div class="left">
      <p>© MovieMania LTDA. Made by SENZALEROS in Santa Catarina, Brasil.</p>
    </div>
    <div class="right">
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/174/174855.png" alt="Instagram" width="24"></a>
      <a href="#"><img src="https://img.icons8.com/m_rounded/512/twitterx.png" alt="Twitter" width="24"></a>
      <a href="#"><img src="https://img.icons8.com/ios_filled/512/228BE6/facebook.png" alt="Facebook" width="24"></a>
      <a href="#"><img src="https://cdn4.iconfinder.com/data/icons/social-media-flat-7/64/Social-media_Tiktok-512.png" alt="TikTok" width="24"></a>
      <a href="#"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube" width="24"></a>
    </div>
  </footer>