<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MovieMania - Início</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/reviews.css"> 
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <header>
    <%- include("header") %>
  </header>
  <div class="content">
    <h1>Bem vindo ao Moviemania!</h1>
    <h2 id="subh2">Novidades no MovieMania</h2>
    <div class="movie-grid" id="novidades">
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Vingadores Ultimato</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Vingadores Ultimato</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Vingadores Ultimato</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Vingadores Ultimato</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Vingadores Ultimato</h3>
      </div>
    </div>

    <h2 id="subh2">Populares no MovieMania</h2>
    <div class="movie-grid" id="populares">
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Título do Filme</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Título do Filme</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Título do Filme</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Título do Filme</h3>
      </div>
      <div class="movie-card">
        <img src="https://br.web.img3.acsta.net/pictures/19/04/26/17/30/2428965.jpg" alt="Filme 1">
        <h3>Título do Filme</h3>
      </div>
    </div>

    <section class="reviews-section">
      <h2>Reviews Populares da Semana</h2>
      <div class="review-grid">
        <div class="review-card">
          <img src="https://image.tmdb.org/t/p/w500/z0g2YJ4K7K89jL3mJ0t3Q5d6U.jpg" alt="O Mestre Invencível">
          <div class="review-content">
            <div class="review-header">
              <img src="https://via.placeholder.com/30/d089f2/ffffff?text=U" alt="User Avatar" class="user-avatar">
              <span class="username">User106</span>
            </div>
            <div class="review-details">
              <h3>O Mestre Invencível <span class="movie-year">1978</span></h3>
              <div class="review-stats">
                <span><i class="fas fa-star icon"></i> 56</span>
                <span><i class="fas fa-comment-alt icon"></i></span>
              </div>
            </div>
            <p class="review-text">
              Filme clássico do Jackie Chan, demonstrando o que será o estilo dessa
              lenda!
            </p>
            <div class="review-footer">
              <i class="fas fa-heart heart-icon"></i> Curte o Comentário <span>1.342 Curtidas</span>
            </div>
          </div>
        </div>

        <div class="review-card">
          <img src="https://image.tmdb.org/t/p/w500/y6wL2i73SjqfT4hC0wD2j5qB2R.jpg" alt="Bater ou Correr em Londres">
          <div class="review-content">
            <div class="review-header">
              <img src="https://via.placeholder.com/30/d089f2/ffffff?text=U" alt="User Avatar" class="user-avatar">
              <span class="username">User106</span>
            </div>
            <div class="review-details">
              <h3>Bater ou Correr em Londres <span class="movie-year">2003</span></h3>
              <div class="review-stats">
                <span><i class="fas fa-star icon"></i> 42</span>
                <span><i class="fas fa-comment-alt icon"></i></span>
              </div>
            </div>
            <p class="review-text">
              Um clássico filme do Jackie Chan, mais reprisado na sessão da tarde que uma noite no museu kkkk
            </p>
            <div class="review-footer">
              <i class="fas fa-heart heart-icon"></i> Curte o Comentário <span>2.561 Curtidas</span>
            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <%- include("footer") %>
</body>
</html>