<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login - MovieMania</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body class="login">
  <div class="login-box">
    <img src="/img/logo.png" alt="Logo MovieMania" class="logo">
    <div class="login-text">
      <h2>Entrar</h2>
    </div>
    <form action="/login" method="POST">
      <input type="text" name="email" placeholder="Email ou número de celular" required>
      <input type="password" name="senha" placeholder="Senha" required>
      <div class="remember-me">
        <a href="#">Esqueceu a senha?</a>
      </div>
      <button type="submit">
        <a href="/home">Entrar</a></button>
    </form>
    <p>Não tem conta? <a href="/register"><strong>Cadastre-se agora</strong></a></p>
  </div>
  <%- include("footer") %>
</body>
</html>