<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Senha - MovieMania</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/password.css">
  <link rel="stylesheet" href="/css/footer.css">
  <style>
  </style>
</head>
<body>
  <div class="reset-password-box">
    <h2>Atualizar senha</h2>
    <p>Enviaremos um email com instruções de como redefinir sua senha</p>
    <input type="email" placeholder="nome@exemplo.com">
    <button id="sendEmail">
		<a href="/login">Enviar no email</a>
	</button>
  </div>
    <%- include("footer") %>
</body>
</html>
