<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - MovieMania</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/styles.css"> 
    <style>
        .message {
            padding: 10px;
            margin-bottom: 15px;
            border-radius: 5px;
            font-weight: bold;
            text-align: center;
        }

        .message.error {
            background-color: #dc3545;
            color: white;
        }

        .message.success {
            background-color: #28a745;
            color: white;
        }
    </style>
</head>

<body class="login">
    <div class="login-box">
        <img src="/img/logo.png" alt="Logo MovieMania" class="logo">
        <h2>Cadastro de conta</h2>

        <% if (messages.error && messages.error.length > 0) { %>
            <div class="message error">
                <%= messages.error[0] %>
            </div>
        <% } %>
        <% if (messages.success && messages.success.length > 0) { %>
            <div class="message success">
                <%= messages.success[0] %>
            </div>
        <% } %>

        <form action="/register" method="POST">
            <input type="text" name="nome" placeholder="Nome de Usuário" required> 
            
            <input type="email" name="email" placeholder="Email" required>
            
            <input type="password" name="senha" placeholder="Senha" required>
            
            <div class="checkbox">
                <div>
                    <label for="maior_16_anos">
                        <input type="checkbox" name="maior_16_anos" id="maior_16_anos" required>
                        Eu tenho mais de 16 anos e concordo com os termos de uso.
                    </label>
                </div>
                <div>
                    <label for="aceitou_politica_privacidade">
                        <input type="checkbox" name="aceitou_politica_privacidade" id="aceitou_politica_privacidade" required>
                        Eu aceito a Política de Privacidade e concordo com o processamento dos meus dados pessoais.
                    </label>
                </div>
            </div>
            <button type="submit">Cadastrar</button>
        </form>
        <p>Já tem conta? <a href="/login"><strong>Entrar</strong></a></p>
    </div>

    <%- include("footer") %>
</body>
</html>