<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/footer.css">
  	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/header.css">
	<title>MovieMania</title>
</head>
<header>
    <%- include("header") %>
</header>
<body>
	<img src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png" alt="Usuário" width="30" height="30">
  <%- include("footer") %>
</body>

</html>