body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.content {
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 15px;
}

.section-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.movie-grid {
  display: flex;
  gap: 20px;
  overflow-x: hidden;
  scrollbar-width: none;
  justify-content: center;
}

.movie-grid::-webkit-scrollbar {
  display: none;
}

.movie-card {
  background-color: #3a255d;
  padding: 10px;
  border-radius: 8px;
  width: 180px;
  text-align: center;
  flex-shrink: 0;
  transition: transform 0.3s, box-shadow 0.3s;
  overflow-y: hidden;
  scrollbar-width: none;
}

.movie-card::-webkit-scrollbar {
  display: none;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.movie-card img {
  width: 100%;
  border-radius: 8px;
}

h1 {
  font-size: 36px;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
}

#subh2 {
  font-size: 22px;
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}