html, body {
  height: 75vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-color: #5e2b92;
}

header {
  height: 20vh;
}

body { 
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;
  background-color: #5e2b92;
}

footer {
  height: 5vh;
}

header .logo {
  font-size: 2em;
}

body .content-wrapper {
  padding: 20px;
}

footer p {
  font-size: 0.8em;
}