html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #5e2b92;
    overflow-y: auto;
}

header {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    box-sizing: border-box;
}

footer {
    height: auto;
    flex-shrink: 0;
    background-color: #2c1a47;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    margin-top: 30px;
}